<div class="Profil_sec row" id="profil">
    <div class="div Center">
        <h1>Profil</h1>
        <br />
        <app-upload-image [srcProfil]="image.chemin" (eventSubmit)="handleEventSubmitImageProfileForm($event)"></app-upload-image>
        <br />
        <div class="div Line"></div>
        <br />
        <div class="div Profilside">
            <br />
            <p-button label="Save" severity="success" (click)="save()" icon="pi pi-check" />
            <p-button label="Reset" severity="danger" (click)="reset()" icon="pi pi-times"/>
            <br />
            <button pButton (click)="updatePassword()">
                <i class="pi pi-slack" pButtonIcon></i>
                <span pButtonLabel>Change Password</span>
            </button>
            <br />
            <p-floatlabel>
                <input pInputText id="inputEmail" autocomplete="off" />
                <label for="inputEmail">e-mail</label>
            </p-floatlabel>
            <br />
            <p-floatlabel>
                <input pInputText id="inputUserName" autocomplete="off" />
                <label for="inputUserName">username</label>
            </p-floatlabel>
            <br />
            <p-floatlabel>
                <textarea pTextarea id="txtAreaBio" rows="10" cols="60" style="resize: none" class="h-full"></textarea>
                <label for="txtAreaBio">bio</label>
            </p-floatlabel>
        </div>
        <!-- // End Services Side // -->
    </div>
</div>
<!-- // End Services Section // -->
