@layer utilities {
    .pi {
        font-size: xxx-large;
        font-family: primeicons;
        font-style: normal;
        font-weight: normal;
        text-transform: none;
        line-height: 1;
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        font-variant: normal;
        margin: 1rem;
    }
    
    .p-button:hover  {
        color: #ff9408;
    }

    .p-floatlabel {
        left: 0.6rem;
    }

    .p-inputtext, .p-textarea {
        position: relative;
        display: inline;
        left: -0.2rem;
        color: #3d85c6;
        background: #cfe2f3;
        border: 1px solid #0b5394;
    }


    
    .p-inputtext:not(:focus), .p-textarea:not(:focus) {
        color: #3d85c6;
        background: aliceblue;
        border: 1px solid #0b5394;
    }

    .p-inputtext:focus + label, .p-textarea:focus + label, label:hover {
        color: #ff9408;
        top: -0.8rem;
    }

    label {
        left: 30rem;
        transition: top 0.3s, color 0.3s;
    }

    .pi-times:hover + .p-button-label, .pi-times + .p-button-label:hover {
        color: red;
    }

    .pi-check:hover + .p-button-label, .pi-check + .p-button-label:hover {
        color: lawngreen;
    }

    .pi-check {
        color: lawngreen;
    }
}