<!-- \\ Begin Header \\ -->
<header>
    <div class="div Center">
        <div class="div site-logo">
            <h1><a routerLink="/home" routerLinkActive="active">La&nbsp;<span class="span">Rou</span>te</a></h1>
        </div>
        <div class="div" id="mobile_sec">
        <div class="div mobile"><i class="fa fa-bars"></i><i class="fa fa-times"></i></div>
        <div class="div menumobile">
            <!-- \\ Begin Navigation \\ -->
            <nav class="Navigation">
                <ul>
                    <li class="active">                                
                        <a routerLink="/home" routerLinkActive="active">Accueil</a>
                        <span class="span menu-item-bg"></span>
                    </li>
                    <li>
                        <a routerLink="/about" routerLinkActive="active">A Propos</a>
                        <span class="span menu-item-bg"></span>
                    </li>
                    <li>
                        <a routerLink="/services" routerLinkActive="active">Services</a>
                        <span class="span menu-item-bg"></span>
                    </li>
                    <li>
                        <a routerLink="/support" routerLinkActive="active">Support</a>
                        <span class="span menu-item-bg"></span>
                    </li>
                    <li>
                        <a routerLink="/contact" routerLinkActive="active">Contact</a>
                        <span class="span menu-item-bg"></span>
                    </li>
                    <li>
                        <app-auth-button></app-auth-button>
                    </li>
                </ul>
            </nav>
            <!-- // End Navigation // -->
        </div>
        </div>
        <div class="div clear"></div>
    </div>
</header>
<!-- // End Header // -->