<!-- \\ Begin Header \\ -->
<header>
    <div class="Center">
        <div class="site-logo">
            <h1><a routerLink="/home" routerLinkActive="active">La&nbsp;<span>Rou</span>te</a></h1>
        </div>
        <div id="mobile_sec">
        <div class="mobile"><i class="fa fa-bars"></i><i class="fa fa-times"></i></div>
        <div class="menumobile">
            <!-- \\ Begin Navigation \\ -->
            <nav class="Navigation">
                <ul>
                    <li class="active">                                
                        <a routerLink="/home" routerLinkActive="active">Accueil</a>
                        <span class="menu-item-bg"></span>
                    </li>
                    <li>
                        <a routerLink="/about" routerLinkActive="active">A Propos</a>
                        <span class="menu-item-bg"></span>
                    </li>
                    <li>
                        <a routerLink="/services" routerLinkActive="active">Services</a>
                        <span class="menu-item-bg"></span>
                    </li>
                    <li>
                        <a routerLink="/support" routerLinkActive="active">Support</a>
                        <span class="menu-item-bg"></span>
                    </li>
                    <li>
                        <a routerLink="/contact" routerLinkActive="active">Contact</a>
                        <span class="menu-item-bg"></span>
                    </li>
                    <li>
                        <app-auth-button></app-auth-button>
                    </li>
                </ul>
            </nav>
            <!-- // End Navigation // -->
        </div>
        </div>
        <div class="clear"></div>
    </div>
</header>
<!-- // End Header // -->