<div class="tabcontent" id="cont-2-1">
<div class="TabImage">
    <div class="img1">
        <figure><img src="../assets/img/about-img2.jpg" alt="image"></figure>	
    </div>
    <div class="img2">
        <figure><img src="../assets/img/about-img1.jpg" alt="image"></figure>
    </div>
</div>
<div class="Description">
    <h2>L'avenir est plein de surprises</h2><h3><span>Ayons confiance en le g&eacute;nie humain et tâchons de faire de notre mieux pour ceux qui vont suivre</span></h3>
    <p>Les difficult&eacute;s sont nombreuses. Les d&eacute;fis qui nous attendent sont de grands challenges. La connaissance et l'empathie sont des &eacute;l&eacute;ments de succ&egrave;s. Il faut croire que face aux probl&egrave;mes de ce monde, l'&ecirc;tre humain aura la sagesse et les comp&eacute;tences n&eacute;cessires pour relever ces probl&eacute;matiques. Nous allons vers un monde de paix o&ugrave; le liberalisme et la d&eacute;mocratie auront force de loi. Il en va du bonheur du monde et je veux y croire. Que chacun ait sa chance de r&eacute;ssir. Nous avons tous de la valeur et quelque chose &agrave; offrir.</p>
</div>
</div>
<div class="clear"></div>	