<div class="div Forum_sec row" id="forum">
  <div class="div Leftside col-2 row">
    <div class="div Icon col-12">
      <ul>
        <li>
          <app-auth-button></app-auth-button>
        </li>
        <li>
          <a href="#" class="text"
              [ngClass]="{'active': listConfig.type === 'feed'}"
              (click)="setListTo('feed')">
              Vos Messages
          </a>
        </li>
        <li>
          <a href="#" class="text"
              [ngClass]="{'active': listConfig.type === 'all' && !listConfig.filters.tag}"
              (click)="setListTo('all')">
              Tous les Messages
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-solid fa-magnifying-glass"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="div col-12 row">
      <p>Popular Tags</p>

      <div class="div col-12">
        <a *ngFor="let tag of tags"
          (click)="setListTo('all', {tag: tag})"
          class="tag-default tag-pill">
          {{ tag }}
        </a>
      </div>

      <div [hidden]="tagsLoaded" class="div col-12">
        Loading tags...
      </div>

      <div [hidden]="!tagsLoaded || tags.length" class="div col-12"> 0">
        No tags are here... yet.
      </div>
    </div>
  </div>  
  <div class="div col-10">
<!--        <app-article-list [limit]="10" [config]="listConfig"></app-article-list>
    -->
      
  </div>
</div>
