<div class="tabcontent" id="cont-1-1">
<div class="TabImage">
    <div class="img1">
        <figure><img src="../assets/img/about-img2.jpg" alt="image"></figure>	
    </div>
    <div class="img2">
        <figure><img src="../assets/img/about-img1.jpg" alt="image"></figure>
    </div>
</div>
</div>
<div class="Description">
    <h2>Mission</h2><h3><span>Ce qui m'anime ...</span></h3>
    <p>La route est un site de <span class="cyan">partage</span> et de promotion des nouvelles technologies et de la culture. J'essaierai de faire &eacute;voluer ce site pour mettre à disposition mes ressources en esp&eacute;rant que vous pourrez y trouver votre bonheur.</p>
</div>
<div class="clear"></div>	