<div class="div tabcontent" id="cont-3-1">
    <div class="div TabImage">
        <div class="div img1">
            <figure><img src="../assets/img/franceinter-rect.png" alt="Logo de la radio France Inter" style="height: 15rem; width: auto;"></figure>	
        </div>
        <div class="div img2">
            <figure><img src="../assets/img/canalb.png" style="height: 15rem; width: auto;" alt="Logo de la radio indépendante de Rennes"></figure>
        </div>
    </div>
    <div class="div Description">
        <h2>Le cheminement</h2><h3><span class="span">Mon parcours et les personnes ou institutions qui m'ont permis d'&ecirc;tre l&agrave; o&ugrave; je suis ...</span></h3>
        <p>Mon Parcours universitaire : <a href="https://www.univ-rennes.fr/" target="_blank">Universit&eacute; de Rennes 1</a></p>
        <p>Ma formation continue : <a href="https://www.cnam.fr/portail/conservatoire-national-des-arts-et-metiers-accueil-821166.kjsp" target="_blank">Conservatoire National des Arts et M&eacute;tiers</a></p>
        <p>On se nourrit aussi de culture, d'art et de po&eacute;sie, voici quelques liens de ce que j'&eacute;coute et aime ...</p>
        <ul>
            <li><a href="https://canalb.fr/" target="_blank"><img src="../assets/img/canalb.png" style="height: 5rem; width: auto;" alt="Logo de la radio indépendante de Rennes"></a></li>
            <li><a href="https://www.radiofrance.fr/franceinter" target="_blank"><img style="height: 5rem; width: auto;" src="../assets/img/franceinter-rect.png" alt="Logo de la radio France Inter"></a></li>
        </ul>
    </div>
</div>
<div class="div clear"></div>	
