<!-- \\ Begin Holder \\ -->
<div class="DesignHolder">
	<!-- \\ Begin Frame \\ -->
	<div class="LayoutFrame">
        <app-header></app-header>
        <!-- \\ Begin Container \\ -->
        <div id="Container">
            <router-outlet />
        </div>
        <app-footer></app-footer>
        <!-- // End Container // -->
    </div>
    <!-- // End Layout Frame // -->
</div>
<!-- // End Design Holder // -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
