<!-- \\ Begin Holder \\ -->
<div class="div DesignHolder">
	<!-- \\ Begin Frame \\ -->
	<div class="div LayoutFrame">
        <app-header></app-header>
        <!-- \\ Begin Container \\ -->
        <div class="div" id="Container">
            <router-outlet />
        </div>
        <app-footer></app-footer>
        <!-- // End Container // -->
    </div>
    <!-- // End Layout Frame // -->
</div>
<!-- // End Design Holder // -->
<div id="loader-wrapper" class="div">
    <div class="div"id="loader"></div>
    <div class="div loader-section section-left"></div>
    <div class="div loader-section section-right"></div>
</div>
