<!-- \\ Begin Services Section \\ -->
<div class="div Services_sec" id="services">
    <div class="div Center">
        <h2>our Services</h2>
        <p> Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent<br> taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>		
        <div class="div Line"></div>
        <!-- \\ Begin Services Side  \\ -->
        <div class="div Serviceside">
            <ul>
                <li class="Development"><a href="#services"><h4>DEVELOPMENT</h4></a></li>
                <li class="Desdin"><a href="#services"><h4>DESIGN</h4></a></li>
                <li class="Concept"><a href="#services"><h4>CONCEPT</h4></a></li>
                <li class="System"><a href="#services"><h4>SYSTEM</h4></a></li>
            </ul>
        </div>
        <!-- // End Services Side // -->
    </div>                
</div>
<!-- // End Services Section // -->
