<!-- \\ Begin Banner Section \\ -->
<div class="div Banner_sec" id="home">
    <!--  \\ Begin banner Side -->
    <div class="div bannerside">
        <div class="div Center">
            <!--  \\ Begin Left Side -->
            <div class="div leftside">
                <h3>Artistes<span class="span">& Poètes Friendly</span></h3>
                <p>La route est un site de pr&eacute;sentation de mes diff&eacute;rents textes. Vous pouvez &eacute;galement &eacute;couter ma musique et les radios, que je pr&eacute;f&egrave;re...</p>
                <p>... Bienvenue dans mon univers</p>   
                <a routerLink="/about">En savoir plus</a>
            </div>                        								
            <!--  // End Left Side // -->
            <!--  \\ Begin Right Side -->
            <div class="div rightside">
                <owl-carousel-o [options]="customOptions" #owlCar>
                    <ng-template carouselSlide>
                        <div class="Slider">
                            <figure><img src="assets/img/Slider-img1.jpg" alt="image"></figure>
                            <div class="text">
                                <div class="Icon">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-heart"></i>700</a></li>
                                        <li><a routerLink="/forum"><i class="fa fa-commenting"></i>150</a></li>
                                    </ul>	
                                </div>                        								
                                <div class="Lorem">
                                    <p>Ouvert et Curieux d'esprit ... <span class="span">Les sommets se gravissent à force de courage</span></p>
                                </div>
                            </div>
                            </div>
                        </ng-template>  
                    <ng-template carouselSlide>
                        <div class="Slider">
                            <figure><img src="assets/img/Slider-img2.jpg" alt="image"></figure>
                            <div class="text">
                                <div class="Icon">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-heart"></i>700</a></li>
                                        <li class="num"><a href="#"><i class="fa fa-commenting"></i>150</a></li>
                                    </ul>	
                                </div>                        								
                                <div class="Lorem">
                                    <p>Le calme et la quiétude<span class="span">En réponse aux turbulences du temps qui passe</span></p>
                                </div>
                            </div>
                        </div>
                    </ng-template>  
                </owl-carousel-o>
                <figure><img src="assets/img/Shadow-img.png" alt="image" class="Shadow"></figure>                                                        
            </div>
            <!--  // End Right Side // -->
        </div>
    </div>
    <!--  // End banner Side // -->
    <div class="div clear"></div>
</div>
<!-- // End Banner Section // -->
<div class="div bgcolor"></div>


